:root {
  --primary-color: #7d84b2;
  --secondary-color: red;
  --primary-font-size: 1rem;
  --secondary-font-size: 1.3rem;
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Press Start 2P", system-ui;
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.avatar-contener {
  height: 5dvh;
  border: solid rgb(198, 194, 194);
}

h1 {
  font-family: var(--secondary-font-family);

  border: solid black;
  font-size: var(--secondary-font-size);
  display: flex;
  align-items: center;

  border: solid rgb(198, 194, 194);
}

h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  height: 10dvh;
  background-color: var(--primary-color);
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border: solid black;
}

main {
  height: 80dvh;
  border: solid rgb(198, 194, 194);
  padding-inline: var(--spacing);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-family: var(--primary-font-family);
  gap: var(--spacing);
}

.dynamique-content {
  width: 100dvw;
  border: solid rgb(198, 194, 194);
}

main footer {
  background-image: url(city-toulouse.jpg);
}

footer {
  height: 10dvh;

  border: solid black;

  display: flex;
  justify-content: center;
}
.loader {
  display: inline-flex;
  border: 5px solid #5856d6;
  border-radius: 50%;
  background-color: #5856d6;
  border-radius: 50%;
  background: linear-gradient(145deg, #5e5ce5, #4f4dc1);
}

.loader::before,
.loader::after {
  content: "0 1 2 3 4 5 6 7 8 9 0";
  font-size: 30px;
  font-family: monospace;
  font-weight: bold;
  line-height: 1em;
  height: 1em;
  width: 1.2ch;
  text-align: center;
  outline: 1px solid #000;
  color: #0000;
  text-shadow: 0 0 0 #000;
  overflow: hidden;
  animation: l4 2s infinite linear;
}

.loader::before {
  animation-duration: 4s;
}

@keyframes l4 {
  100% {
    text-shadow: 0 var(--t, -10em) 0 #000;
  }
}
@media screen and (min-width: 900px) {
  .dynamique-content {
    width: clamp(500px, 80dvw, 2000px);
    border: solid rgb(198, 194, 194);
  }
}
