:root {
  --primary-color: #7d84b2;
  --secondary-color: red;
  --primary-font-size: 1rem;
  --primary-font-family: "Inter", sans-serif;
  --secondary-font-family: "Press Start 2P", system-ui;
  --spacing: 1rem;
  --spacing-double: calc(var(--spacing) * 2);
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

.avatar {
  border-radius: 50%;
  max-width: 100%;
  max-height: 100%;
}

.avatar-contener {
  height: 5dvh;
  border: solid rgb(198, 194, 194);
}

h1 {
  font-family: var(--secondary-font-family);
  border: solid rgb(198, 194, 194);
}

h2 {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-around;
  height: 10dvh;
  background-color: var(--primary-color);
}

main {
  height: 80dvh;
  border: solid rgb(198, 194, 194);
  padding-inline: var(--spacing);
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-family: var(--primary-font-family);
  gap: var(--spacing);
}

.dynamique-content {
  width: 100dvw;
  border: solid rgb(198, 194, 194);
}

main footer {
  background-image: url(city-toulouse.jpg);
}

footer {
  height: 10dvh;
}
@media screen and (min-width: 900px) {
  .dynamique-content {
    width: clamp(500px, 80dvw, 2000px);
    border: solid rgb(198, 194, 194);
  }
}
