.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  width: 400px;
}

.square {
  width: 100px;
  height: 100px;
  background-color: #1e2133;
}

.square-visible {
  visibility: visible;
}

.square-invisible {
  visibility: hidden;
}


.bouton-suivant {
  border: none;
  text-decoration: none;
  color: white;
  background-color: var(--third-color);
  margin-top: 8px;
  padding: 12px 24px;
  border-radius: 20px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  width: min-content;
}