#devinette-container {
  background-color: var(--secondary-color);
  width: 100%;
  height: 50dvw;
}
#question-devinette {
  color: white;
}
#form-devinette {
  color: white;
}
#label-devinette {
  color: white;
}
