.header-invisible {
    display: none;
}
.footer-invisible {
    display: none;
}

.title {
    width: 300px;
    left: calc(50% - 300px/2 - 0.5px);
    top: 8.22%;
    bottom: 88.26%;

    font-family: 'Press Start 2P';
    font-style: normal;
    font-weight: 400;
    font-size: 20spx;
    line-height: 150%;
    color: #FAFAFA;
}
#rdj {

font-family: 'Inter';
font-style: normal;
font-size: 24px;
color: #EEEEFB;
padding: 1rem;
}

#next-button {
    width: 50%;
    margin: 1rem;

}
#mylene-avatar {
        border-radius: 50%;
        width: 80px;
        height: 80px;
        border: solid 2px white;
        
    }

#paragraphrdj {
    top: 250px;
    left: 90px;
    color: #EEEEFB;
    font-family: 'Inter';
    font-style: normal;
    font-size: smaller;
    margin: 0.65rem;
    
}

.home-container {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    margin: 2rem;
    padding: 2rem;
    border-radius: 20px;
}

.name-input-section {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name-input-section label {
    color: #FAFAFA;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    margin-bottom: 5px;
}

.name-input-section input[type="text"] {
    width: 200px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    padding: 5px;
}

