#welcome-container {
  background-color: var(--secondary-color);
  width: 100%;
  min-height: 65dvh;
  padding: var(--spacing);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 8px;
  gap: 8px;
  color: white;
}
#welcome-paragraphe {
  color: white;
  text-align: center;
  width: clamp(300px, 50dvw, 500px);
}
#valid-button-welcome {
  align-self: flex-end;
}

#img-welcome-container {
  position: relative;
  max-height: 70%;
}

#img-welcome {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

@media screen and (min-width: 900px) {
  #welcome-container {
    align-self: center;
    width: clamp(300px, 50dvw, 2000px);
  }
  #welcome-paragraphe {
    font-size: 1.5rem;
  }
  #valid-button-welcome {
    align-self: center;
  }
}
